<input type="file" class="file-input"   [accept]="requiredFileType" #fileUpload (change)="onFileSelected($event)">

<section class="file-upload">
  <mat-form-field>
    <input matInput [disabled]="true" [value]="fileName">
  </mat-form-field>
  <button mat-mini-fab color ="primary" class="upload-btn" (click)="onClick(fileUpload)" [disabled]="isDisabled">
    <mat-icon>attach_file</mat-icon>
  </button>
</section>

@if (uploadProgress) {
  <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress"></mat-progress-bar>
}

