<form [formGroup]="form">

  <mat-radio-group formControlName="gender">
    <mat-radio-button value="male">Male</mat-radio-button>
    <mat-radio-button value="female">Female</mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dob">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <section class="example-section">
    <mat-checkbox class="example-margin" formControlName="isReferred">Referred</mat-checkbox>
  </section>
  @if (this.isReferred) {
    <mat-form-field >
      <mat-label>Referrer Source</mat-label>
      <select matNativeControl formControlName="refSource">
        <option value="twitter">Twitter</option>
        <option value="fb" disabled>FB</option>
      </select>
    </mat-form-field>
  }
  <app-file-upload requiredFileType="image/png" formControlName="dpFile"></app-file-upload>
  {{form.value | json}}
</form>
