
<form [formGroup]="form">

  <mat-radio-group formControlName="gender">

      <mat-radio-button value="male">Male</mat-radio-button>

      <mat-radio-button value="female">Female</mat-radio-button>

  </mat-radio-group>


               <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

</form>
