@for (product of products | async; track $index) {
  <a [routerLink] ="[product.name]">
  <mat-card class="display-flex" appearance="outlined">
    <div class="display-flex">
      <img mat-card-image src="../assets/moto-phone.webp" alt={{product.name}}>
    </div>
    <div class="display-flex flex-col">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{product.name}}</mat-card-title>
      <mat-card-subtitle>{{product.brand}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <ul>
        <li>{{product.specs.screenSize}}</li>
        <li>{{product.specs.processor}}</li>
        <li>{{product.specs.ram}}</li>
        <li>{{product.specs.storage}}</li>
        <li>{{product.specs.battery}}</li>
      </ul>
    </mat-card-content>
   </div>
  </mat-card>
</a>
} @empty {
  <p>Catalog is empty</p>
}
